body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../uploid/malpractice_wide-e1af3233bd5bc631cded050109ee573a1267973e.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
